<div id="sidebar" class="d-flex flex-column bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
    <h4 class="mb-4 text-white">ExpenseWise</h4>
    <ul class="nav flex-column">
        <!-- Dashboard -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'tracker_home' %}">🏠 Dashboard</a>
        </li>

        <!-- Transactions -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'transaction_history' %}">💸 Transactions</a>
        </li>

        <hr class="bg-light">

        <!-- Summary -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'summary' %}">📊 Summary</a>
        </li>

        <!-- Settings -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'settings' %}">⚙️ Settings</a>
        </li>
         <!-- Debt History -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'debt_history' %}">💳 Debt History</a>
        </li>

    </ul>
</div>